:root {
--primary: #fff;
--bg: #d52d69;
--tb : #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html {
   scroll-behavior: smooth;
}
body {
     font-family: 'Poppins', sans-serif ;
     background-color: var(--primary);
     color: #d52d69;

 }

 /* Navbar */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #d52d69;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
 }
 .navbar .navbar-logo {
    font-size: 2.8rem;
    font-weight: 700;
    color: #d52d69;
 }

.navbar .navbar-nav a {
    color: #d52d69;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0  1rem;
 }
.navbar .navbar-nav a:hover {
    color :var(--tb);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--tb);
    transform: scaleX(0);
    transition:0.2s linear;
 }
 .navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
 }
 .navbar .navbar-extra a {
    color: #d52d69;
    margin:0 0.5rem;
 }
 .navbar .navbar-extra a:hover {
    color: var(--primary);
 }

 #info {
 display: none;
 }

 /*Hero Section */
 .hero {
    min-height: 100vh;
    display:flex;
    align-items: center;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
 }

 .hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background: linear-gradient(0deg,rgba(213,45,105, 1)10%, rgba(129, 126, 126,0)20%);
 }

 .hero .content {
    padding: 1.5rem 7%;
    max-width: 60rem;
 }

 .hero .content h1 {
    font-size: 5em;
    color: #000;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
    line-height: 1;
 }

 .hero .content h1 span {
    color : var(--bg);
 }

 .hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
 }

 .hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color :#000;
    background-color: var(--bg);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
    
 }

 /* About Section */
 .about, 
 .Services, .OurTeam, .contact {
   text-align: center;
    padding: 8rem 7% 1.4rem;
 }
 .about h2, 
 .Services h2, .OurTeam h2, .contact h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
 }
 .about h2 span, 
 .Services h2, .OurTeam h2 span, .contact h2 span {
    color: #000;
 }
 .about .row {
    display: flex;
 }

 .about .row .about-img {
    flex: 1 1 35rem;
 }
 .about .row .about-img img {
    width: 100%;
 }
 .about .row .content {
    color: #000;
    flex: 1 1 35rem;
    padding: 0 1rem;
 }
 .about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
 }

 .about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4 rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: justify;
 }

 .about .row .about-img img {
height: 30rem;
object-fit: cover;
object-position: center;

.about .row .content {
    padding: 0;
}

.about .row .content h3 {
    margin-top: 1rem;
    font-size: 2 rem;
}
.about .row .content p {
    font-size: 3rem;
}
 }
 /* Service Section */
 .Services {
   background-color: #d52d69;
 }

 .Services h2{
   margin-bottom: 1rem;
   color: #000;
 }
 .Services h3{
   color: #000;
 }
.Services p{
   text-align: center;
   max-width: 30rem;
   margin: auto;
   font-weight 500;
   line-height: 1.6;
   color: #000;
}
.Services .row {
   display: flex;
   flex-wrap: wrap;
   margin-top: 5rem;
   justify-content: center;
}

.Services-card {
   text-align: center;
   padding-bottom: 4rem;
}

.Services .row  .Services-card img {
   border-radius: 50%;
   width: 80%;
}
.Services .row .Services-card .Services-card-title{
   margin-top: 1.5rem auto 0.5rem;
}

 /* Service Section */
 .OurTeam h2{
   margin-bottom: 1rem;
   color: #000;
 }
 .OurTeam h5{
   color: #000;
 }
.OurTeam p{
   text-align: center;
   max-width: 30rem;
   margin: auto;
   font font-weight 500;
   line-height: 1.6;
   color: #000;
}

.OurTeam .row {
   display: flex;
   flex-wrap: wrap;
   margin-top: 5rem;
   justify-content: center;
}
.OurTeam-Card {
   text-align: center;
   padding-bottom: 4rem;
}

.OurTeam .row  .OurTeam-Card img {
   border-radius: 50%;
   width: 80%;
}
.OurTeam .row .OurTeam .OurTeam-Card-title{
   margin-top: 1.5rem auto 0.5rem;
}

 
 /* Service Section */

 /* Service Section */
 .contact {
   padding: 0 7% 1.4rem;
   background-color: #d52d69;
   font-size: 1rem;
   
 }

 .contact p{
   text-align: center;
   max-width: 30rem;
   margin: auto;
   font-weight 500;
   line-height: 1;
   color: #000;
}
 .contact h2{
   margin-bottom: 1rem;
   color: #000;
 }
 footer{ 
 text-align: center;
padding: 1rem;
margin-top: 0.5rem;
}
 footer .social a{
   color: black;
   margin: 1rem;
 }

 footer .social a:hover {
   color: var(--primary)
 }
 footer .credit p{
   margin-top: 0.5rem;
 }
 /* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    #info {
    display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color:#fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5 rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
    transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform:scaleX(0.2);
    }
    .about .row {
      flex-wrap: wrap;
    }

    .about .row .about-img img{
      height: 30rem;
      object-fit: cover;
      object-position: center;
    }
    .about .row .content {
      padding: 0;
    }

    .about .row .content h3 {
      margin-top: 1rem;
      font-size: 2rem;
    }

    .about .row .content p {
      font-size: 1.6rem;
    }
}

 .Services p {
   font-size: 1.2rem;
 }
 


/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}